body{
	background-color: black;
}
.head-img{

	height: 100%;
	padding: 20px;
	background:  url(../images/basket.png) no-repeat top center;
	filter: blur(1px);
	filter: brightness(50%);
}

div.head-img h1{
	color: #4CAF50;
	font-size: 60px;
    font-style: italic;
    padding-top: 350px;
 

}

div.head-img p{
	padding-top: 25px;
}